<!DOCTYPE HTML>

<html>
<head>
    <title>管理员</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../public/css/main.css" />
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/">返回首页</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>菜单</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="/">首页</a></li>
                            <li><a href="/ve">看帖</a></li>
                            <li><a href="/admin">用户管理</a></li>
                            <li><a href="/zhuce">注册</a></li>
                            <li><a href="/login">登录</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <header>
            <h2>你好，leaf</h2>
            <p>欢迎光临博客管理者界面</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">

                <section>
                    <h4>简介</h4>
                    <p>这是我的<b>博客</b>，看上去还 <strong>不错</strong>.这是一段没什么软用的文字，<i>就给你随便看看而已</i>.
                        <a href="/">这里回到首页</a>.</p>
                    <hr />
                </section>
                <section>
                    <h4>分类添加</h4>
                    <form method="">
                        <div class="form-group">
                            <label for="tname">分类名称：</label>
                            <input type="text" class="form-control" id="tname" placeholder="请输入分类名称" name="tname">
                            <label for="class">class：</label>
                            <input type="text" class="form-control" id="classs" placeholder="请输入class" name="classs">
                            <label for="description">内容：</label>
                            <input type="text" class="form-control" id="description" placeholder="请输入内容" name="description">
                        </div>
                        <div id="msg" style="display: none;"></div>
                        <button type="button" class="btn btn-default"  id="sub" style="margin-top: 20px;">提交</button>
                    </form>
                    <ul class="actions">
                        <li><a href="/admin" class="button special icon fa-download">返回管理员界面</a></li>
                        <li><a href="/ve" class="button icon fa-download">查看发帖</a></li>
                    </ul>
                </section>
                <section>

                    <div class="box alt">
                        <div class="row uniform 50%">
                            <div class="12u"><span class="image fit"><img src="../../public/images/banner.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic01.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic02.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic03.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic03.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic02.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic01.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic02.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic01.jpg" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../public/images/pic03.jpg" alt="" /></span></div>
                        </div>
                    </div>
                    <h4>点滴生活</h4>
                    <p><span class="image left"><img src="../../public/images/pic04.jpg" alt="" /></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我总算还是明白，如花美眷，终抵不过似水的流年，姹紫嫣红的春色，也只不过是韶光一现，其实我们都会有被岁月老去红颜的那一天，既然年华将你我抛闪，又何须为几片泛黄的记忆，痴心留恋，永远有人问，为什么美好总是在昨天，那是因为，我们都不知不觉地爱上一个词，叫怀念。有时候会躺在夜里却怎么也睡不着，会有许多许多的画面在自己的脑海里，曾经的你，曾经的我，曾经的我们。像一场没有结局的电影无序放映着，或悲或喜，或忧或痛。其实，我们都怀念回不去的曾经，回忆已经成为了我们的习惯，习惯在夜里享受孤独，习惯在夜里独自哀伤，不想习惯，却无力更改。年少的故事，总是在最晴朗的天气里，用最快乐的语气开头，好像讲故事的人永远都不知道，结局有多悲伤似的。或是不知梦的缘故，流离之人追逐幻影。
                    </p>
                    <p><span class="image right"><img src="../../public/images/pic05.jpg" alt="" /></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;或是不知梦的缘故，流离之人追逐幻影。 生人无能相惜者，曰悲。 再无可许之誓言，曰哀。 孤独是与生俱来的种子，萌发于爱上一个人的瞬间。 但既然相逢，纵无携手，总好过一生陌路。 死亡就像是就像是祭奠的别辞，从此置身事外。我可以看透这光阴，但光阴的尽头没有你，又有什么好。 你将沉睡在一泓湖泊里，等待多年之后的访客。 还要一些年，等我席卷这一天下。 我们将重逢在水渚沙幼白鸟飞翔的岸边。 那时的我会死在席卷天下的战场上，你教我种的那些花，都已枯萎。唱那些只能在寒瘦伶仃的夜里才能盛放的相思，只能埋藏在阑珊月影中的心事，与落花一同付了流水的妄痴。 每个人都有他们不愿提及的往事，都有他们在意的人。只是他们在这辗转红尘，他们能做的，也只有将伤痕深埋心底，假装若无其事地，走完接下来的路。
                    </p>
                </section>

            </div>
        </section>
    </article>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script src="../../public/js/jquery.min.js"></script>
<script src="../../public/js/jquery.scrollex.min.js"></script>
<script src="../../public/js/jquery.scrolly.min.js"></script>
<script src="../../public/js/skel.min.js"></script>
<script src="../../public/js/util.js"></script>
<script src="../../public/js/main.js"></script>
<script>
    $("#sub").on("click", function () {
        var tname=$("#tname").val();
        var description=$("#description").val();
        var classs=$("#classs").val();
        //发送ajax请求
        $.ajax({
            type:"post",
            url:"/admin/category/add",
            data:{
                tname:tname,
                description:description,
                classs:classs
            },
            dataType:'json',
            success: function (data) {
                if(data.code==0){
                    $("#msg").html(data.message).css("color","red").show();
                    $("#tname").val("");
                    $("#classs").val("");
                    $("#description").val("");
                }else if(data.code==1){
                    //添加成功
                    $("#msg").html(data.message).css("color","lime").show();
                    setTimeout(function () {
                        $("#msg").hide();
                        $("#tname").val("");
                        $("#classs").val("");
                        $("#description").val("");
                    },1500);
                }
            }
        });
    });
</script>
</body>
</html>